body {
    margin: 0;
    padding: 0;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #0c1f1f, #376c6e, rgba(92, 155, 156, 0));
    z-index: 1000;
    padding: 10px 0;
    height: 80px;
}
  
.navbar > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.navbar > ul > li {
    display: flex;
    align-items: center;
}

#logo {
    width: 180px;
    margin: 10px 0 10px 10px;
}

/* Center links */
.nav-center .nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-center .nav-links > li > a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.nav-center .nav-links > li > a:hover {
    color: lightblue;
}

.search_bar {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
    visibility: visible; /* Establecer por defecto como visible */
}

#magnifier {
    width: 24px;
    padding-top: 4px;
}

#magnifier:hover {
    cursor: pointer;    
}

#search {
    border: none;
    outline: none;
    background-color: transparent;
    width: 400px;
}

.search_btn_ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

button {
    background-color: #214e50;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
}

button:hover {
    background-color: #376c6e;
    cursor: pointer;
}

/* Clase para ocultar la search_bar sin afectar el layout */
.hidden {
    visibility: hidden;
}

/* HOME */
.maindiv {
    background: linear-gradient(
            to right,
            rgba(9, 95, 88, 1),
            rgba(72, 190, 180, 0)
        ),
        url("home-img.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 90px;
    display: flex;
    position: relative;
}

.left {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 10% 0;
}

.vbar {
    height: 60%;
    width: 2px;
    background-color: white;
    margin-left: 60px;
    margin-bottom: 20%;
}

.iconlist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}

.iconlist li {
    list-style-type: none;
}

.iconlist li img {
    width: 40px;
}

.right {
    width: 85%;
    padding-top: 8em;
}

.wh1 {
    font-size: 6em;
    font-family: sans-serif;
    color: white;
}

.txtp {
    width: 33%;
    font-size: 1.5em;
    font-family: sans-serif;
    color: white;
}

